<section>
  <h2>Entre como participante</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma senha</label>
    <input
      type="password"
      name="password"
      placeholder="Insira uma senha"
      id="room-pass"
    />
    <button>
      <img src="images/users-white.svg" alt="Criar sala" />
      Criar sala
    </button>
  </form>
</section>
